global
    log /dev/log len 4096 local0
    log /dev/log len 4096 local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats socket ipv4@<%= node['gitlab-haproxy']['api_address'] %>:23646 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    maxconn 50000
    spread-checks 2
<% if node['gitlab-haproxy']['global']['multithreading']['enable'] %>
    nbproc <%= node['gitlab-haproxy']['global']['multithreading']['nbproc'] %>
    nbthread <%= node['gitlab-haproxy']['global']['multithreading']['nbthread'] %>
<% end %>
<% if node['gitlab-haproxy']['global']['hard-stop']['enable'] %>
    hard-stop-after <%= node['gitlab-haproxy']['global']['hard-stop']['timeout'] %>
<% end %>
<% if node['gitlab-haproxy']['systemd_service_overrides']['enable'] %>
    server-state-file /etc/haproxy/state/global
<% end %>

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers <%= node['gitlab-haproxy']['global']['ssl-default-bind-ciphers'] %>
<% unless node['gitlab-haproxy']['global']['ssl-default-bind-options'].nil? %>
    ssl-default-bind-options <%= node['gitlab-haproxy']['global']['ssl-default-bind-options'] %>
<% end %>
    # Keep DH params size at 1024 for Java 6 HTTPS clients
    tune.ssl.default-dh-param 1024

defaults
    log global
    option dontlognull
    maxconn 50000
    timeout connect <%= node['gitlab-haproxy']['timeout_connect'] %>
    timeout check <%= node['gitlab-haproxy']['timeout_check'] %>
    timeout client <%= node['gitlab-haproxy']['timeout_client'] %>
    timeout server <%= node['gitlab-haproxy']['timeout_server'] %>
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/429.http
    errorfile 408 /etc/haproxy/errors/400.http
    errorfile 429 /etc/haproxy/errors/429.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http
<% if node['gitlab-haproxy']['systemd_service_overrides']['enable'] %>
    load-server-state-from-file global
<% end %>

listen stats
    bind <%= node['gitlab-haproxy']['listen_address'] %>:7331
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth admin:<%= @admin_password %>
    stats admin if TRUE

<% if node['gitlab-haproxy']['frontend']['peers']['servers'].any? -%>
#---------------------------------------------------------------------
# Sync data between the frontend nodes
#---------------------------------------------------------------------
peers frontend-peers
    <% node['gitlab-haproxy']['frontend']['peers']['servers'].each do |name, network| %>
    peer <%= name %> <%= network[0] %>:<%= network[1] %>
    <% end %>
<% end -%>

#---------------------------------------------------------------------
# Frontend configuration
#---------------------------------------------------------------------
frontend http
    bind <%= node['gitlab-haproxy']['listen_address'] %>:80
    mode http
    option splice-auto

    acl deny-403-ip src -f /etc/haproxy/front-end-security/deny-403-ips.lst
    http-request deny if deny-403-ip

    timeout client-fin <%= node['gitlab-haproxy']['timeout_client_fin'] %>
    log-format %ci:%cp\ [%t]\ %ft\ %sslv\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %U\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r
    acl is_www_gitlab_com hdr(host) -i www.gitlab.com

    http-request redirect code 301 location https://gitlab.com%[capture.req.uri] if is_www_gitlab_com
    http-request redirect scheme https code 301

frontend https
    bind <%= node['gitlab-haproxy']['listen_address'] %>:443 ssl crt /etc/haproxy/ssl/gitlab.pem<% if @use_internal %> crt /etc/haproxy/ssl/internal.pem<% end %><% if @use_canary %> crt /etc/haproxy/ssl/canary.pem<% end %> no-sslv3
    mode http
    option splice-auto
    timeout client-fin <%= node['gitlab-haproxy']['timeout_client_fin'] %>
    log-format %ci:%cp\ [%t]\ %ft\ %sslv\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %U\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r
    capture request header User-Agent len 64

    stick-table type ip size 1m expire 5m store gpc0,conn_rate(1m) <% if node['gitlab-haproxy']['frontend']['peers']['servers'].any? -%>peers frontend-peers<% end -%>
    tcp-request connection track-sc1 src

<% if node['gitlab-haproxy']['cloudflare']['enable'] %>
<%= render 'partial_cloudflare.erb' -%>
<% end %>
    acl is_www_gitlab_com hdr(host) -i www.gitlab.com
    acl is_socket_upg hdr(Upgrade) -i WebSocket
    acl is_socket_path path_end -i .ws
    acl is_gitlab_com_api path_beg -i /api/
    acl is_ancient_ci_runner path_beg -i /ci/api/
    acl is_gitlab_com_https_git path_reg -i ^\/(?!help)[^\/]+\/((?!artifacts|browse|file|tree|blob|blame|commits|raw|find_file|files|graphs|logs_tree|refs|wikis|new|create|edit|update|preview|badges)[^\/]+\/)*[^\/]+\.git($|\/)
    acl is_legacy_ci_runner hdr_reg(User-Agent) -i gitlab-ci-multi-runner\ 1\.
    acl has_multiple_slash path_reg /{2,}
    acl is_canary req.cook(gitlab_canary) -m str -i true
    acl canary_disabled req.cook(gitlab_canary) -m str -i false
    acl is_canary_host hdr_beg(host) -i canary
    acl no_be_srvs_canary_web nbsrv(canary_web) lt 1
    acl no_be_srvs_canary_https_git nbsrv(canary_https_git) lt 1
    acl is_canary_path path_beg -f /etc/haproxy/canary-request-paths.lst
    acl is_asset_path path_beg /assets/

    http-request set-var(txn.host) hdr(Host)
    http-request redirect code 308 location https://gitlab.com%[capture.req.uri] if is_www_gitlab_com
    http-request redirect code 308 location https://%[hdr(host)]%[url,regsub(/+,/,g)] if has_multiple_slash
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-SSL %[ssl_fc]
    http-request deny deny_status 400 if is_legacy_ci_runner
    http-request deny deny_status 400 if is_ancient_ci_runner

    http-response set-header GitLab-LB <%= node['hostname'] %>
    http-response set-header GitLab-SV %s

    acl whitelist_internal src -f /etc/haproxy/whitelist-internal.lst
    http-request allow if whitelist_internal

    acl whitelist_api src -f /etc/haproxy/whitelist-api.lst

    acl require_captcha src -f /etc/haproxy/recaptcha/require-captcha.lst
    http-request set-header X-GitLab-Show-Login-Captcha 1 if require_captcha

    acl deny-403-ip src -f /etc/haproxy/front-end-security/deny-403-ips.lst
    http-request deny if deny-403-ip

    acl blacklist-uri path_beg -i -f /etc/haproxy/blacklist-uris.lst
    http-request deny if blacklist-uri

<%= formatted_custom_config(node['gitlab-haproxy']['frontend']['https']['custom_config']) %>

    acl api_rate_limit_whitelist src <%= node['gitlab-haproxy']['frontend']['https']['rate_limit_whitelist'] %>

    <% if node['gitlab-haproxy']['frontend']['asset_proxy']['enable'] -%>
    acl no_be_srvs_asset_proxy nbsrv(asset_proxy) lt 1
    ###############################################################
    # Asset routing, all requests for /assets/ are routes to the
    # asset object-storage bucket
    # There is a basic health check for a file named /info, in the bucket
    # if it doesn't exist, asset requests will go to the front-end workers
    use_backend asset_proxy if is_asset_path !no_be_srvs_asset_proxy

    <% end -%>
    ###############################################################
    # API routing rules for whitlisted hosts that
    # bypass rate limiting
    use_backend api if is_gitlab_com_api api_rate_limit_whitelist
    use_backend api if is_gitlab_com_api whitelist_internal
    use_backend api if is_gitlab_com_api whitelist_api
    # API routing rules for rate limiting, canary
    # routing is handled in the api_rate_limit frontend
    # This backend is a proxy for the api_rate_limit frontend
    use_backend api_rate_limit if is_gitlab_com_api
    ###############################################################

    ###############################################################
    # HTTPS GIT routing rules
    <% if node['gitlab-haproxy']['frontend']['canary_https_git']['enable'] %>
    # If it is an https git request and there are no healthy canary
    # servers, route request to the https_git backend
    use_backend https_git if is_gitlab_com_https_git no_be_srvs_canary_https_git
    # Use the canary for internal request paths like /gitlab-com/, unless
    # the cookie gitlab_canary=false is set
    use_backend canary_https_git if is_gitlab_com_https_git is_canary_path !canary_disabled
    # Use the canary backend if the cookie gitlab_canary=true is set or if the request
    # is sent to canary.gitlab.com
    use_backend canary_https_git if is_gitlab_com_https_git is_canary
    use_backend canary_https_git if is_gitlab_com_https_git is_canary_host
    # Finally, if no canary rules match, route requests to the normal
    # https_git backend
    <% end %>
    use_backend https_git if is_gitlab_com_https_git
    ###############################################################

    ###############################################################
    # Websockets routing rules
    use_backend websockets if is_socket_upg or is_socket_path
    ###############################################################

    ###############################################################
    # Web routing rules, if we have gotten this far we use the default
    # web or canary_web backend
    <% if node['gitlab-haproxy']['frontend']['canary_web']['enable'] %>
    # If there are no healthy canary servers default to the web backend
    use_backend web if no_be_srvs_canary_web
    # Use the canary for internal request paths like /gitlab-com/, unless
    # the cookie gitlab_canary=false is set
    use_backend canary_web if is_canary_path !canary_disabled
    # Use the canary backend if the cookie gitlab_canary=true or if the
    # request is sent to canary.gitlab.com
    use_backend canary_web if is_canary or is_canary_host
    # Finally, if no other rules match, send the request to the web backend
    <% end %>
    default_backend web
    ###############################################################

frontend ssh
    bind <%= node['gitlab-haproxy']['listen_address'] %>:<%= node['gitlab-haproxy']['frontend']['ssh']['port'] %>
    mode tcp
    option splice-auto

    acl deny-403-ip src -f /etc/haproxy/front-end-security/deny-403-ips.lst
    tcp-request connection reject if deny-403-ip

    timeout client-fin <%= node['gitlab-haproxy']['timeout_client_fin'] %>
    log-format %ci:%cp\ [%t]\ %ft\ %sslv\ %b/%s\ %Tw/%Tc/%Tt\ %B\ %U\ %ts\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq
    stick-table type ip size 1m expire 5m store gpc0,conn_rate(1m) <% if node['gitlab-haproxy']['frontend']['peers']['servers'].any? -%>peers frontend-peers<% end -%>

<%= formatted_custom_config(node['gitlab-haproxy']['frontend']['ssh']['custom_config']) %>

    use_backend ssh

frontend check_http
    bind <%= node['gitlab-haproxy']['listen_address'] %>:8001
    mode http
    option splice-auto
    acl no_be_srvs_web nbsrv(web) lt 1
    monitor-uri /-/available-http
    monitor fail if no_be_srvs_web

frontend check_https
    bind <%= node['gitlab-haproxy']['listen_address'] %>:8002
    mode http
    option splice-auto
    acl no_be_srvs_web nbsrv(web) lt 1
    acl no_be_srvs_api nbsrv(api) lt 1
    monitor-uri /-/available-https
    monitor fail if no_be_srvs_web || no_be_srvs_api

frontend check_ssh
    bind <%= node['gitlab-haproxy']['listen_address'] %>:8003
    mode http
    option splice-auto
    acl no_be_srvs_ssh nbsrv(ssh) lt 1
    monitor-uri /-/available-ssh
    monitor fail if no_be_srvs_ssh

frontend api_rate_limit
    bind 127.0.0.1:<%= node['gitlab-haproxy']['frontend']['https']['rate_limit_frontend_port'] %> accept-proxy
    mode http
    option splice-auto
    stick-table type ip size 1m expire 5m store gpc0,http_req_rate(1m) <% if node['gitlab-haproxy']['frontend']['peers']['servers'].any? -%>peers frontend-peers<% end -%>
    tcp-request content track-sc1 src
    <%
      # Because of cloudflare, this logic does not work (we would rate-limit cloudflare IPs)
      # by setting the following value to false, there is no change to how requests are handled,
      # but the actual headers and 429 are disabled, effectively disabling enforcement of the rate limit.
    %>
    <% if node['gitlab-haproxy']['frontend']['api_rate_limit']['enforced'] -%>
    acl is_rate_abuse src_http_req_rate gt <%= node['gitlab-haproxy']['frontend']['api']['rate_limit_http_rate_per_minute'] %>
    http-request set-var(txn.src_http_req_rate) src_http_req_rate
    http-response set-header RateLimit-Limit <%= node['gitlab-haproxy']['frontend']['api']['rate_limit_http_rate_per_minute'] %>
    http-response set-header RateLimit-Observed %[src_http_req_rate]
    http-response set-header RateLimit-Remaining %[int(<%= node['gitlab-haproxy']['frontend']['api']['rate_limit_http_rate_per_minute'] %>),sub(txn.src_http_req_rate)]
    http-response set-header RateLimit-Reset %[date(60)]
    http-response set-header RateLimit-ResetTime %[date(60),http_date]
    use_backend 429_slow_down if is_rate_abuse
    <% end %>

    acl no_be_srvs_canary_api nbsrv(canary_api) lt 1
    acl is_canary_path path_beg -f /etc/haproxy/canary-request-paths.lst
    acl is_canary_host hdr_beg(host) -i canary
    acl is_canary req.cook(gitlab_canary) -m str -i true
    acl canary_disabled req.cook(gitlab_canary) -m str -i false

<%= formatted_custom_config(node['gitlab-haproxy']['frontend']['api_rate_limit']['custom_config']) %>

    ###############################################################
    # API routing rules
    <% if node['gitlab-haproxy']['frontend']['canary_api']['enable'] %>
    # If there are no healthy canary servers default to the api backend
    use_backend api if no_be_srvs_canary_api
    # Use the canary for internal request paths like /gitlab-com/, unless
    # the cookie gitlab_canary=false is set
    use_backend canary_api if is_canary_path !canary_disabled
    # Use the canary backend if the cookie gitlab_canary=true or if the
    # request is sent to canary.gitlab.com
    use_backend canary_api if is_canary or is_canary_host
    # Finally, if no canary rules match, route requests to the normal
    # api backend
    <% end %>
    default_backend api
    ###############################################################

#---------------------------------------------------------------------
# Backend configuration
#---------------------------------------------------------------------

<% if node['gitlab-haproxy']['frontend']['asset_proxy']['enable'] -%>
backend asset_proxy
    mode http
    option httpchk GET <%= node['gitlab-haproxy']['frontend']['asset_proxy']['httpchk_path'] %> HTTP/1.1\r\nHost:\ <%= node['gitlab-haproxy']['frontend']['asset_proxy']['host'] %>
    http-request set-header Host <%= node['gitlab-haproxy']['frontend']['asset_proxy']['host'] %>
    server asset-bucket <%= node['gitlab-haproxy']['frontend']['asset_proxy']['server'] %>:443 <%= node['gitlab-haproxy']['frontend']['asset_proxy']['opts'] %>
<% end %>

backend api
    mode http
    balance roundrobin
<% unless node['gitlab-haproxy']['cloudflare']['enable'] %>
    option forwardfor
<% end %>
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
<%= render 'partial_healthcheck.erb', :variables => {:ha_frontend => node['gitlab-haproxy']['frontend']['api'], :ha_global => node['gitlab-haproxy']['global'] } -%>
    <% node['gitlab-haproxy']['frontend']['api']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 <% if node['gitlab-haproxy']['frontend']['use_weights'] %>weight <%= node['gitlab-haproxy']['frontend']['api']['default_weight'] %> <% end %>check <%= node['gitlab-haproxy']['frontend']['api']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> ssl verify none
    <% end %>
    <% if node['gitlab-haproxy']['frontend']['use_weights'] %>
    <% node['gitlab-haproxy']['frontend']['canary_api']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 <% if node['gitlab-haproxy']['frontend']['use_weights'] %>weight <%= node['gitlab-haproxy']['frontend']['canary_api']['default_weight'] %> <% end %>check <%= node['gitlab-haproxy']['frontend']['api']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> ssl verify none
    <% end %>
    <% end %>

backend api_rate_limit
    option splice-auto
    mode http
    server localhost 127.0.0.1:<%= node['gitlab-haproxy']['frontend']['https']['rate_limit_frontend_port'] %> send-proxy

backend https_git
    mode http
    balance roundrobin
<% unless node['gitlab-haproxy']['cloudflare']['enable'] %>
    option forwardfor
<% end %>
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
<%= render 'partial_healthcheck.erb', :variables => {:ha_frontend => node['gitlab-haproxy']['frontend']['https_git'], :ha_global => node['gitlab-haproxy']['global'] } -%>
    <% node['gitlab-haproxy']['frontend']['https_git']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 <% if node['gitlab-haproxy']['frontend']['use_weights'] %>weight <%= node['gitlab-haproxy']['frontend']['https_git']['default_weight'] %> <% end %>check <%= node['gitlab-haproxy']['frontend']['https_git']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> ssl verify none
    <% end %>
    <% if node['gitlab-haproxy']['frontend']['use_weights'] %>
    <% node['gitlab-haproxy']['frontend']['canary_https_git']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 <% if node['gitlab-haproxy']['frontend']['use_weights'] %>weight <%= node['gitlab-haproxy']['frontend']['canary_https_git']['default_weight'] %> <% end %>check <%= node['gitlab-haproxy']['frontend']['https_git']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> ssl verify none
    <% end %>
    <% end %>

backend web
    mode http
    balance roundrobin
<% unless node['gitlab-haproxy']['cloudflare']['enable'] %>
    option forwardfor
<% end %>
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    <% if node['gitlab-haproxy']['frontend']['web']['content_security_policy_enabled'] %>
    rspadd Content-Security-Policy:<%= node['gitlab-haproxy']['frontend']['web']['content_security_policy'].gsub(/ /, '\ ').gsub("'"){"\\'"} %>
    <% end %>
    <% if node['gitlab-haproxy']['frontend']['web']['access_control_allow_headers']['enable'] %>
    rspadd Access-Control-Allow-Headers:<%= node['gitlab-haproxy']['frontend']['web']['access_control_allow_headers']['headers'].gsub(/ /, '\ ').gsub("'"){"\\'"} %> if { capture.req.hdr(0) -m found }
    <% end %>
    <% if node['gitlab-haproxy']['frontend']['root_page_redirect']['enable'] %>
    acl redirect_request_path path /
    acl has_session_cookie req.cook(<%= node['gitlab-haproxy']['frontend']['root_page_redirect']['session_cookie'] %>) -m found
    redirect location <%= node['gitlab-haproxy']['frontend']['root_page_redirect']['url'] %> code <%= node['gitlab-haproxy']['frontend']['root_page_redirect']['status_code'] %> if redirect_request_path !has_session_cookie
    <% end %>
<%= render 'partial_healthcheck.erb', :variables => {:ha_frontend => node['gitlab-haproxy']['frontend']['web'], :ha_global => node['gitlab-haproxy']['global'] } -%>
    <% node['gitlab-haproxy']['frontend']['web']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 <% if node['gitlab-haproxy']['frontend']['use_weights'] %>weight <%= node['gitlab-haproxy']['frontend']['web']['default_weight'] %> <% end %>check <%= node['gitlab-haproxy']['frontend']['web']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> ssl verify none
    <% end %>
    <% if node['gitlab-haproxy']['frontend']['use_weights'] %>
    <% node['gitlab-haproxy']['frontend']['canary_web']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 <% if node['gitlab-haproxy']['frontend']['use_weights'] %>weight <%= node['gitlab-haproxy']['frontend']['canary_web']['default_weight'] %> <% end %>check <%= node['gitlab-haproxy']['frontend']['web']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> ssl verify none
    <% end %>
    <% end %>

backend web_runoff
    mode http
    balance roundrobin
<% unless node['gitlab-haproxy']['cloudflare']['enable'] %>
    option forwardfor
<% end %>
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    <% if node['gitlab-haproxy']['frontend']['web']['content_security_policy_enabled'] %>
    rspadd Content-Security-Policy:<%= node['gitlab-haproxy']['frontend']['web']['content_security_policy'].gsub(/ /, '\ ').gsub("'"){"\\'"} %>
    <% end %>
<%= render 'partial_healthcheck.erb', :variables => {:ha_frontend => node['gitlab-haproxy']['frontend']['web'], :ha_global => node['gitlab-haproxy']['global'] } -%>
    <% node['gitlab-haproxy']['frontend']['web_runoff']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 <% if node['gitlab-haproxy']['frontend']['use_weights'] %>weight <%= node['gitlab-haproxy']['frontend']['web_runoff']['default_weight'] %> <% end %>check <%= node['gitlab-haproxy']['frontend']['web']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> ssl verify none
    <% end %>

backend canary_web
    mode http
    balance roundrobin
<% unless node['gitlab-haproxy']['cloudflare']['enable'] %>
    option forwardfor
<% end %>
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    acl is_canary_host hdr_beg(host) -i canary
    http-response set-header X-Robots-Tag noindex if { var(txn.host) -m beg canary }
    <% if node['gitlab-haproxy']['frontend']['canary_web']['content_security_policy_enabled'] %>
    rspadd Content-Security-Policy:<%= node['gitlab-haproxy']['frontend']['canary_web']['content_security_policy'].gsub(/ /, '\ ').gsub("'"){"\\'"} %>
    <% end %>
<%= render 'partial_healthcheck.erb', :variables => {:ha_frontend => node['gitlab-haproxy']['frontend']['web'], :ha_global => node['gitlab-haproxy']['global'] } -%>
    <% node['gitlab-haproxy']['frontend']['canary_web']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 check <%= node['gitlab-haproxy']['frontend']['web']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> ssl verify none
    <% end %>

backend canary_https_git
    mode http
    balance roundrobin
<% unless node['gitlab-haproxy']['cloudflare']['enable'] %>
    option forwardfor
<% end %>
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
<%= render 'partial_healthcheck.erb', :variables => {:ha_frontend => node['gitlab-haproxy']['frontend']['https_git'], :ha_global => node['gitlab-haproxy']['global'] } -%>
    <% node['gitlab-haproxy']['frontend']['canary_https_git']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 check <%= node['gitlab-haproxy']['frontend']['https_git']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> ssl verify none
    <% end %>

backend canary_api
    mode http
    balance roundrobin
<% unless node['gitlab-haproxy']['cloudflare']['enable'] %>
    option forwardfor
<% end %>
    option splice-auto
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
<%= render 'partial_healthcheck.erb', :variables => {:ha_frontend => node['gitlab-haproxy']['frontend']['api'], :ha_global => node['gitlab-haproxy']['global'] } -%>
    <% node['gitlab-haproxy']['frontend']['canary_api']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 check <%= node['gitlab-haproxy']['frontend']['api']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> ssl verify none
    <% end %>

backend ssh
    mode tcp
    balance <%= node['gitlab-haproxy']['frontend']['ssh']['balance'] %>
    option splice-auto
    hash-type consistent
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    timeout server <%= node['gitlab-haproxy']['timeout_server_ssh'] %>
    # The default check port is 443 and not 22. The assumption here is that ssh won't work
    # if rails isn't running and they're both running on the same host.
    # We need to change this when we split rails to a separate cluster.
<%= render 'partial_healthcheck.erb', :variables => {:ha_frontend => node['gitlab-haproxy']['frontend']['ssh'], :ha_global => node['gitlab-haproxy']['global'] } -%>
    <% node['gitlab-haproxy']['frontend']['ssh']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:<%= node['gitlab-haproxy']['frontend']['ssh']['server_port'] %> <% if node['gitlab-haproxy']['frontend']['use_weights'] %>weight <%= node['gitlab-haproxy']['frontend']['ssh']['default_weight'] %> <% end %>check <%= node['gitlab-haproxy']['frontend']['ssh']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %><% if node['gitlab-haproxy']['frontend']['ssh']['tcp_check_enable'] %> check-ssl verify none<% end %>
    <% end %>
    <% if node['gitlab-haproxy']['frontend']['use_weights'] %>
    <% node['gitlab-haproxy']['frontend']['canary_ssh']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:<%= node['gitlab-haproxy']['frontend']['ssh']['server_port'] %> <% if node['gitlab-haproxy']['frontend']['use_weights'] %>weight <%= node['gitlab-haproxy']['frontend']['canary_ssh']['default_weight'] %> <% end %>check <%= node['gitlab-haproxy']['frontend']['ssh']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> check-ssl verify none
    <% end %>
    <% end %>

backend websockets
    mode http
    balance roundrobin
    option splice-auto
    option http-server-close
    timeout tunnel <%= node['gitlab-haproxy']['timeout_tunnel'] %>
    cookie _gitlab_session prefix nocache
<%= render 'partial_healthcheck.erb', :variables => {:ha_frontend => node['gitlab-haproxy']['frontend']['websockets'], :ha_global => node['gitlab-haproxy']['global'] } -%>
    <% node['gitlab-haproxy']['frontend']['websockets']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 <% if node['gitlab-haproxy']['frontend']['use_weights'] %>weight <%= node['gitlab-haproxy']['frontend']['websockets']['default_weight'] %> <% end %>check <%= node['gitlab-haproxy']['frontend']['websockets']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> ssl verify none cookie <%= name %>
    <% end %>
    <% if node['gitlab-haproxy']['frontend']['use_weights'] %>
    <% node['gitlab-haproxy']['frontend']['canary_websockets']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 <% if node['gitlab-haproxy']['frontend']['use_weights'] %>weight <%= node['gitlab-haproxy']['frontend']['canary_websockets']['default_weight'] %> <% end %>check <%= node['gitlab-haproxy']['frontend']['websockets']['check_opts'] %> <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> ssl verify none cookie <%= name %>
    <% end %>
    <% end %>

backend 429_slow_down
    mode http
    timeout tarpit 2s
    errorfile 500 /etc/haproxy/errors/429.http
    errorfile 503 /etc/haproxy/errors/429.http
    http-request tarpit
