global
    log /dev/log len 4096 local0
    log /dev/log len 4096 local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats socket ipv4@<%= node['gitlab-haproxy']['api_address'] %>:23646 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    maxconn <%= node['gitlab-haproxy']['maxconn'] %> # raising in the defaults without raising global makes no sense (!!)
<% if node['gitlab-haproxy']['global']['multithreading']['enable'] %>
    nbproc <%= node['gitlab-haproxy']['global']['multithreading']['nbproc'] %>
    nbthread <%= node['gitlab-haproxy']['global']['multithreading']['nbthread'] %>
<% end %>
<% if node['gitlab-haproxy']['global']['hard-stop']['enable'] %>
    hard-stop-after <%= node['gitlab-haproxy']['global']['hard-stop']['timeout'] %>
<% end %>
<% if node['gitlab-haproxy']['systemd_service_overrides']['enable'] %>
    server-state-file /etc/haproxy/state/global
<% end %>

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4
    # Keep DH params size at 1024 for Java 6 HTTPS clients
    tune.ssl.default-dh-param 1024

defaults
    log global
    option dontlognull
    maxconn <%= node['gitlab-haproxy']['maxconn'] %> # raising in the defaults without raising global makes no sense (!!)
    timeout connect 5000
    timeout check 30000
    timeout client <%= node['gitlab-haproxy']['timeout_client'] %>
    timeout server <%= node['gitlab-haproxy']['timeout_server'] %>
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/429.http
    errorfile 408 /etc/haproxy/errors/400.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http
<% if node['gitlab-haproxy']['systemd_service_overrides']['enable'] %>
    load-server-state-from-file global
<% end %>

listen stats
    bind <%= node['gitlab-haproxy']['listen_address'] %>:7331
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth admin:<%= @admin_password %>
    stats admin if TRUE

frontend pages_http
    bind <%= node['gitlab-haproxy']['listen_address'] %>:80
    mode http
    option splice-auto

<% if node['gitlab-haproxy']['cloudflare']['enable'] %>
<%= render 'partial_cloudflare.erb' -%>
<% end %>
    acl deny-403-ip src -f /etc/haproxy/front-end-security/deny-403-ips.lst
    http-request deny if deny-403-ip
<%- if node['gitlab-haproxy']['pages']['enable_domain_blacklisting'] -%>
    acl deny-403-domain req.hdr(host) -i -f /etc/haproxy/front-end-security/deny-403-pages-domains.lst
    http-request deny if deny-403-domain
<%- end -%>

    capture request header Host len 40

    log-format %ci:%cp\ [%t]\ %ft\ %sslv\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %U\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r
    acl doc_gitlab_com hdr_beg(host) -i doc.gitlab.com
    http-request redirect location https://docs.gitlab.com%[path] if doc_gitlab_com
    use_backend pages_http
<%= formatted_custom_config(node['gitlab-haproxy']['pages']['http_custom_config']) %>

frontend pages_https
    bind <%= node['gitlab-haproxy']['listen_address'] %>:443
    mode tcp
    option splice-auto

    tcp-request inspect-delay 5s
    acl deny-403-ip src -f /etc/haproxy/front-end-security/deny-403-ips.lst
    tcp-request content reject if deny-403-ip
<%- if node['gitlab-haproxy']['pages']['enable_domain_blacklisting'] -%>
    acl deny-403-domain req_ssl_sni -i -f /etc/haproxy/front-end-security/deny-403-pages-domains.lst
    tcp-request content reject if deny-403-domain
<%- end -%>

    log-format %ci:%cp\ [%t]\ %ft\ %sslv\ %b/%s\ %Tw/%Tc/%Tt\ %B\ %U\ %ts\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq
    use_backend pages_https
<%= formatted_custom_config(node['gitlab-haproxy']['pages']['https_custom_config']) %>

frontend check_http
    bind <%= node['gitlab-haproxy']['listen_address'] %>:8001
    mode http
    option splice-auto
    acl no_be_srvs_http nbsrv(pages_http) lt 1
    monitor-uri /-/available-http
    monitor fail if no_be_srvs_http

frontend check_https
    bind <%= node['gitlab-haproxy']['listen_address'] %>:8002
    mode http
    option splice-auto
    acl no_be_srvs_https nbsrv(pages_https) lt 1
    monitor-uri /-/available-https
    monitor fail if no_be_srvs_https

backend pages_http
    mode http
    balance source
    hash-type consistent
<% unless node['gitlab-haproxy']['cloudflare']['enable'] %>
    option forwardfor
<% end %>
    option splice-auto
    option httpchk GET <%= node['gitlab-haproxy']['pages']['httpchk_path'] %> HTTP/1.1\r\nHost:\ <%= node['gitlab-haproxy']['pages']['httpchk_host'] %>
    <% node['gitlab-haproxy']['pages']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:<%= node['gitlab-haproxy']['pages']['http_backend_listen_port'] %> check <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %>
    <% end %>

backend pages_https
    mode tcp
    option splice-auto
    balance source
    hash-type consistent
    option httpchk GET <%= node['gitlab-haproxy']['pages']['httpchk_path'] %> HTTP/1.1\r\nHost:\ <%= node['gitlab-haproxy']['pages']['httpchk_host'] %>
    <% node['gitlab-haproxy']['pages']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:<%= node['gitlab-haproxy']['pages']['https_backend_listen_port'] %> check <%= node['gitlab-haproxy']['frontend']['default_check_opts'] %> port <%= node['gitlab-haproxy']['pages']['http_backend_listen_port'] %>
    <% end %>
